@import url(../../global/var.css);

.background {
	position: absolute;
	background: var(--secondaryBackground);
}

.subcontainer {
	height: 60px;
	width: 100%;
	padding: 0px 10px;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.iso {
	height: 22px;
}

.burger {
	font-size: 25px;
	color: var(--contrast);
	cursor: pointer;
}

@media (min-width: 900px) {
	.burger {
		display: none;
	}
}
