.view {
	width: 100%;
	min-height: 100vh;
	padding: 100px 30px;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.view > img {
	height: 50vh;
	width: 80%;
	object-fit: cover;
	max-width: 900px;
	border-radius: 15px;
}

.view > h2 {
	margin-top: 15px;
	color: var(--contrast);
	font-size: 38px;
}

.view > p {
	width: 100%;
	max-width: 1000px;
	margin-top: 15px;
	color: var(--contrast);
	font-size: 20px;
	white-space: pre-wrap;
	text-align: start;
}
